spring:
  application:
    name: notification-service
  data:
    mongodb:
      uri: ${MONGODB_URI}

server:
  port: ${SERVER_PORT:8086}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    com.DA2.notificationservice: DEBUG
